# Variable pour Flask

FLASK_SECRET_KEY='goupil-secret-key'
FLASK_DEBUG=True
FLASK_MAX_CONTENT_LENGTH=11534336 # 11Mo
FLASK_SQLALCHEMY_DATABASE_URI=postgresql://goupil_user:goupil_pwd@goupil_postgres:5432/goupil_db
FLASK_MAIL_SERVER=localhost
FLASK_MAIL_PORT=1025

# Variable pour Goupil

FLASK_FQDN='http://0.0.0.0:5000/'
FLASK_UPLOAD_FOLDER='uploads'

# Variable pour Dropzone.js

FLASK_DROPZONE_ALLOWED_FILE_CUSTOM=True
FLASK_DROPZONE_ALLOWED_FILE_TYPE='.png, .jpg, .jpeg, .gif, .webp, .pdf, .xlsx, .xls, .csv, .ods, .docx, .doc, .odt, .txt'
FLASK_DROPZONE_MAX_FILE_SIZE=10
FLASK_DROPZONE_MAX_FILES=10
FLASK_DROPZONE_ENABLE_CSRF=True
FLASK_DROPZONE_IN_FORM=True
FLASK_DROPZONE_UPLOAD_ON_CLICK=True


# Varianle pour les mails

FLASK_MAIL_USE_TLS=False
FLASK_MAIL_USE_SSL=False
FLASK_MAIL_USERNAME=None
FLASK_MAIL_PASSWORD=None
FLASK_MAIL_DEFAULT_SENDER=no-reply-goupil@mail.com
FLASK_MAIL_DEFAULT_RECEIVER=admin-goupil@mail.com
FLASK_MAIL_DEBUG=True

# Varianle pour l'ORM'

FLASK_SQLALCHEMY_TRACK_MODIFICATIONS=False

# Varianle pour la base de données

POSTGRES_USER="goupil_user"  # Utilisateur PostgreSQL
POSTGRES_PASSWORD="goupil_pwd"  # Mot de passe pour l'utilisateur
POSTGRES_DB="goupil_db"  # Nom de la base de données initiale
TZ='Europe/Paris'  # Fuseau horaire pour la configuration système
TIMEZONE='Europe/Paris'  # Fuseau horaire supplémentaire
PGTZ='GMT+2'  # Fuseau horaire pour PostgreSQL

# Variable pour Adminer

ADMINER_DESIGN='price'